/* ====================================
// css variables
// ==================================== */

:root {
  --violet: #d7a1fd;
  --white: #ffffff;
  --green: #98fb00;
  --beige: #f4ede8;
  --black: #000000;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  width: 428px;
  margin: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 428px;
  height: 2336px;
  margin: auto;
  background: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

header {
  text-align: center;
  background: var(--violet);
  text-transform: uppercase;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}

header .titre {
  padding: 20px;
}

header h1 span {
  font-family: "Noto Serif";
  font-weight: 300;
}

header p {
  color: var(--white);
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

header nav a {
  color: var(--white);
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  margin: 10px;
}

header nav {
  padding: 10px;
  background: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main h2 {
  margin: 30px 0;
}

main .container-programme {
  margin: 60px 20px 30px 20px;
  display: flex;
  flex-direction: column;
}

main .container-programme h2 {
  font-family: "Noto Serif";
  font-style: normal;
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

main .programme-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

main .programme-box .suggestion {
  width: 49%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

main .container-programme .border {
  border: 1px solid var(--black);
  border-top: 0;
  padding: 20px;
  height: 100%;
}

main .container-programme hr {
  margin: 0;
  border: 3px solid var(--violet);
}

main .border h4 {
  font-size: 15px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 300;
}

main .border h3 {
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 24px;
}

main .border h3,
main .border h4,
main .border p {
  margin: 0;
  margin-bottom: 20px;
}

main .container-programme p {
  font-size: 15px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 300;
}

main .see-full-programme {
  height: 55px;
  margin: 30px 77px;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--violet);
  background: var(--black);
  border: 0px;
}

main .citation {
  color: #000;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  line-height: 28px; /* 93.333% */
  letter-spacing: -1.5px;
  text-transform: uppercase;
  padding: 20px;
  background-color: var(--green);
}

main .guardian {
  text-align: center;
  font-family: Noto Serif;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  background-color: var(--green);
  padding-bottom: 10px;
}

main .container-news {
  padding: 30px 20px 60px 20px;
  background: var(--beige);
}

main .container-news h2 {
  text-align: center;
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
}

main .container-news .news-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

main .container-news .suggestion {
  width: 49%;
  background: var(--white);
  border-radius: 20px;
}

main .container-news img {
  border-radius: 20px 20px 0 0;
}

main .container-news p {
  padding: 20px;
  font-family: Noto Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px; /* 146.667% */
}

.news {
  color: #000;
  font-family: "Noto Serif";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}

.italic-bold {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  line-height: 22px; /* 146.667% */
  text-transform: uppercase;
}

main .container-opportunities h2 {
  margin: 0;
  padding: 20px;
  background: var(--violet);
  text-align: center;
  font-family: Nunito Sans;
  font-size: 50px;
  letter-spacing: -2.5px;
  text-transform: uppercase;
}

main .container-opportunities-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  padding: 0 0 60px 0;
}

main .container-opportunities .box {
  width: 50%;
  padding: 20px 10px;
  border: 1px solid var(--black);
  background: var(--green);
  font-family: Nunito Sans;
  font-weight: 800;
  line-height: 24px;
  font-size: 20px;
  font-style: italic;
  text-transform: uppercase;
}

footer {
  padding: 20px 20px 110px 20px;
  color: var(--grey);
  text-align: center;
  font-family: Nunito Sans;
  text-transform: uppercase;
  background: var(--black);
}
