/* ====================================
// css variables
// ==================================== */

:root {
  --violet: #d7a1fd;
  --white: #ffffff;
  --green: #98fb00;
  --beige: #f4ede8;
  --black: #000000;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  width: 428px;
  margin: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 428px;
  height: 2336px;
  margin: auto;
  background: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

header {
  text-align: center;
  background: var(--violet);
  text-transform: uppercase;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}

header .titre {
  padding: 20px;
}

header h1 span {
  font-family: "Noto Serif";
  font-weight: 300;
}

header p {
  color: var(--white);
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

header nav {
  color: var(--white);
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  margin: 10px;
}

main h2 {
  margin: 30px 0;
}

main .container-programme {
  margin: 60px 20px 30px 20px;
  display: flex;
  flex-direction: column;
}

main .container-programme h2 {
  font-family: "Noto Serif";
  font-style: normal;
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

main .programme-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

main .programme-box .suggestion {
  width: 49%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

main .container-programme .border {
  border: 1px solid var(--black);
  border-top: 0;
  padding: 20px;
  height: 100%;
}

main .container-programme hr {
  margin: 0;
  border: 3px solid var(--violet);
}

main .section-program h2 {
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

main .section-program h3 {
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 24px;
}

main .section-program h3,
main .section-program h4,
main .section-program p {
  margin: 0;
  margin-bottom: 20px;
}

.citation {
  color: #000;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  line-height: 28px; /* 93.333% */
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

.news {
  color: #000;
  font-family: "Noto Serif";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}

.italic-bold {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  line-height: 22px; /* 146.667% */
  text-transform: uppercase;
}
